.profile {
  max-width: 882px;
  margin: 38px auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .profile {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 320px;
    flex-direction: column;
    margin: 38px auto 36px;
  }
}
