.card__remove{
  position: absolute;
  width: 18px;
  height: 19.3px;
  top: 18px;
  right: 15px;
  background-image: url(../../../images/Trash.svg);
  background-color: inherit;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__remove:hover {
  opacity: 0.6;
  cursor: pointer;
}
