.header {
  margin: 0 auto;
  max-width: 882px;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84,84,84,.7);
}

@media screen and (max-width: 1100px) {
  .header {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    padding: 28px 0 32px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
  }
}
