.profile__subtitle {
  margin: 4px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: flex-start;
  max-width: 318px;
}

@media screen and (max-width: 767px) {
	.profile__subtitle {
    margin: 0 auto 36px;
    line-height: 17px;
    font-size: 14px;
    max-width: 202px;
    text-align: right;
  }
}
