.profile__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {
	.profile__subtitle {
    margin: 0 auto 36px;
    line-height: 17px;
    font-size: 14px;
    max-width: 282px;
    text-align: right;
  }
}
