.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  background-color: #000;
  background-image: url(../../../images/plus.png);
  background-position: center;
  background-repeat: no-repeat;
  justify-self: end;
  align-self: center;
  border: 2px solid #fff;
  padding: 14px auto;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 10px;
    height: 10px;
    padding: 22px 138px;
    margin: 0 auto;
  }
}

