.popup__save-button {
  width: 358px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  font-family: inherit;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin: 48px auto auto;
  padding: 0;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__save-button {
    width: 248px;
    margin: 10px auto auto;
  }
}
