.profile__info {
  display: grid;
  margin-left: 30px;
  max-width: 336px;
  grid-template-columns: minmax(24px,295px) auto;
  grid-template-rows: 2(min-content);
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin-top: 10px;
    grid-template-columns: minmax(24px,200px) auto;
  }
}
