.profile__info {
  margin-left: 30px;
  padding-right: 40px;
  max-width: 336px;
  display: grid;
  grid-template-columns: minmax(min-content,max-content) auto;
  grid-template-rows: 1fr 1fr;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin-top: 10px;
  }
}
